* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-area {
  width: 80%;
  height: 80%;
  background-image: url("./assets/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

#game-start-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(9, 102, 182, 0.456);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  padding: 10em;
  gap: 2em;
  z-index: 1;
}

#player {
  background-image: url("./assets/redpanda.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 4em;
  height: 4em;
  position: absolute;
  top: 0;
  left: 0;
  animation: trembling 0.5s infinite;
}

.enemy {
  background-image: url("./assets/robomonkey.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 6em;
  height: 6em;
  position: absolute;
  top: 0;
  left: 0;
  animation: trembling 0.5s infinite;
}

#stats {
  position: absolute;
  background-image: url("./assets/stats.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  top: 0;
  right: 0;
}

#game-over-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(9, 102, 182, 0.456);
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

#game-over-container {
  background-image: url("./assets/game-over.webp");
  background-size: cover;
  width: 50vw;
  height: 50vh;
  border: 10px solid brown;
  border-radius: 13px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}

#try-again-btn {
  width: 40%;
  cursor: pointer;
  transition: 300ms;
}

#title-img {
  width: 50%;
}

#start-game-btn {
  position: absolute;
  bottom: 10%;
  width: 15%;
  cursor: pointer;
  transition: 300ms;
}

#try-again-btn:hover,
#start-game-btn:hover {
  transform: scale(1.1);
}

#lives{
  position: absolute;
  bottom: 15%;
  right: 15%;
  font-size: 11px;
}

#score{
  position: absolute;
  top: 25%;
  right: 15%;
  font-size: 3em;
}

@keyframes trembling {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  75% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotate-up {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes rotate-down {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
